{% extends "base.html" %}

{% block content %}
    <div class="header-flex">
        <h1>Patients Directory</h1>
        <a href="/patients/add" class="btn">Add New Patient</a>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Sex</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody id="patients-table-body">
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/patients.js') }}"></script>
{% endblock %}